# Análisis de datos sobre Mangas y Ánime

![man_1](man_1.jpg)

- Tenemos dos conjuntos de datos: 
    1. Conjunto de datos dobre Mangas.
    2. Conjunto de datos dobre Ánime.

- Cada conjunto tiene 8 columnas.

- Conjunto de datos dobre Ánime:
    1. <u>Title</u> : Título de la manga.
    2. <u>Rank</u> : Rango de popularidad.
    3. <u>Type</u> : Categoría del ánime ('TV', 'Movie', 'Special', 'ONA', 'OVA', 'Unknown').
    4. <u>Episodes</u> : Número de episodios.
    5. <u>Aired</u> : Fecha en el que se estrenó el anime y su finalización, si la hay.
    6. <u>Members</u> : Número de miembros.
    7. <u>page_url</u> : URL de la página del anime en MyAnimeList.
    8. <u>image_url</u> : URL de la imagen del anime en MyAnimeList.
    9. <u>Score</u> : Puntaje del anime en MyAnimeList, que va desde 0 a 10.

## Preparación y Carga de datos

### Librerías

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Carga de datos

In [4]:
anime=pd.read_csv("MAL-anime.csv")
anime.head(2)

,Unnamed: 0,Title,Rank,Type,Episodes,Aired,Members,page_url,image_url,Score
0,0,Net-juu no Susume,1568,TV,10,Oct 2017 - Dec 2017,450968,https://myanimelist.net/anime/36038/Net-juu_no...,https://cdn.myanimelist.net/r/100x140/images/a...,7.55
1,1,Neon Genesis Evangelion: The End of Evangelion,99,Movie,1,Jul 1997 - Jul 1997,883576,https://myanimelist.net/anime/32/Neon_Genesis_...,https://cdn.myanimelist.net/r/100x140/images/a...,8.55

# Verificación inicial

In [5]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12774 entries, 0 to 12773
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12774 non-null  int64
 1   Title       12774 non-null  object
 2   Rank        12774 non-null  int64
 3   Type        12774 non-null  object
 4   Episodes    12774 non-null  object
 5   Aired       12774 non-null  object
 6   Members     12774 non-null  int64
 7   page_url    12774 non-null  object
 8   image_url   12774 non-null  object
 9   Score       12774 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 998.1+ KB

In [6]:
anime.isnull

<bound method DataFrame.isnull of        Unnamed: 0                                              Title   Rank  \
0               0                                  Net-juu no Susume   1568
1               1     Neon Genesis Evangelion: The End of Evangelion     99
2               2                                            Templex  11445
3               3                                           s.CRY.ed   2248
4               4                     Toaru Majutsu no Index-tan III   6679
...           ...                                                ...    ...
12769       12769                                   Neko no Ongaeshi   1090
12770       12770                                      Kowasugimasu.  12283
12771       12771                                        Bloody Date  12661
12772       12772  Deliver Police: Nishitokyo-shi Deliver Keisats...  11318
12773       12773                 City Hunter: Goodbye My Sweetheart   1750

          Type Episodes                Aired  Members  \
0           TV       10  Oct 2017 - Dec 2017   450968
1        Movie        1  Jul 1997 - Jul 1997   883576
2        Movie        1          2015 - 2015      538
3           TV       26  Jul 2001 - Dec 2001    81283
4      Special        2  Dec 2018 - Apr 2019    11370
...        ...      ...                  ...      ...
12769    Movie        1  Jul 2002 - Jul 2002   259386
12770      ONA        1  Mar 2018 - Mar 2018      352
12771      ONA        1  Nov 2006 - Nov 2006     4112
12772      ONA        1  Mar 2021 - Mar 2021      485
12773  Special        1  Apr 1997 - Apr 1997     7274

                                                page_url  \
0      https://myanimelist.net/anime/36038/Net-juu_no...
1      https://myanimelist.net/anime/32/Neon_Genesis_...
2            https://myanimelist.net/anime/40721/Templex
3               https://myanimelist.net/anime/168/sCRYed
4      https://myanimelist.net/anime/39094/Toaru_Maju...
...                                                  ...
12769  https://myanimelist.net/anime/597/Neko_no_Onga...
12770   https://myanimelist.net/anime/42014/Kowasugimasu
12771    https://myanimelist.net/anime/11691/Bloody_Date
12772  https://myanimelist.net/anime/48575/Deliver_Po...
12773  https://myanimelist.net/anime/1478/City_Hunter...

                                               image_url  Score
0      https://cdn.myanimelist.net/r/100x140/images/a...   7.55
1      https://cdn.myanimelist.net/r/100x140/images/a...   8.55
2      https://cdn.myanimelist.net/r/100x140/images/a...   5.29
3      https://cdn.myanimelist.net/r/100x140/images/a...   7.36
4      https://cdn.myanimelist.net/r/100x140/images/a...   6.44
...                                                  ...    ...
12769  https://cdn.myanimelist.net/r/100x140/images/a...   7.72
12770  https://cdn.myanimelist.net/r/100x140/images/a...   4.80
12771  https://cdn.myanimelist.net/r/100x140/images/a...   4.21
12772  https://cdn.myanimelist.net/r/100x140/images/a...   5.34
12773  https://cdn.myanimelist.net/r/100x140/images/a...   7.49

[12774 rows x 10 columns]>

In [7]:
anime[anime.duplicate(Keep=False)]

AttributeError: 'DataFrame' object has no attribute 'duplicate'

In [14]:
anime.describe()

         Unnamed: 0          Rank       Members         Score
count  12774.000000  12774.000000  1.277400e+04  12774.000000
mean    6386.500000   6397.824409  7.080744e+04      6.475332
std     3687.680504   3690.509535  2.140947e+05      0.942195
min        0.000000      1.000000  1.810000e+02      1.850000
25%     3193.250000   3204.250000  1.455000e+03      5.840000
50%     6386.500000   6399.500000  6.566500e+03      6.500000
75%     9579.750000   9592.750000  4.066725e+04      7.170000
max    12773.000000  12788.000000  3.759013e+06      9.100000

In [11]:
anime['Type'].unique()

array(['TV', 'Movie', 'Special', 'ONA', 'OVA', 'Unknown'], dtype=object)

In [4]:
manga= pd.read_csv(r'C:\Users\denis\Desktop\Curso\Juan-Temario\DS102024_Nuevo\EDA_Manga\MAL-manga.csv')
manga

,Unnamed: 0,Title,Rank,Type,Volumes,Published,Members,page_url,image_url,Score
0,0,City Hunter,460,Manga,35,Feb 1985 - Nov 1991,14690,https://myanimelist.net/manga/792/City_Hunter,https://cdn.myanimelist.net/r/100x140/images/m...,8.16
1,1,Keijo!!!!!!!!,4532,Manga,18,Jul 2013 - Apr 2017,12689,https://myanimelist.net/manga/56505/Keijo,https://cdn.myanimelist.net/r/100x140/images/m...,7.31
2,2,Rain,1808,Manga,?,Nov 2008 -,12021,https://myanimelist.net/manga/17237/Rain,https://cdn.myanimelist.net/r/100x140/images/m...,7.67
3,3,Hidari no Futari,17377,One-shot,?,2011 - 2011,1010,https://myanimelist.net/manga/26610/Hidari_no_...,https://cdn.myanimelist.net/r/100x140/images/m...,5.95
4,4,Odd Girl Out,953,Manhwa,?,May 2015 -,4968,https://myanimelist.net/manga/119521/Odd_Girl_Out,https://cdn.myanimelist.net/r/100x140/images/m...,7.90
...,...,...,...,...,...,...,...,...,...,...
17806,17806,Akuyaku Reijou desu ga Kouryaku Taishou no You...,10635,Manga,?,Dec 2020 -,1142,https://myanimelist.net/manga/132451/Akuyaku_R...,https://cdn.myanimelist.net/r/100x140/images/m...,6.85
17807,17807,Hakuji,5720,Manga,2,May 2008 - Apr 2010,6103,https://myanimelist.net/manga/10141/Hakuji,https://cdn.myanimelist.net/r/100x140/images/m...,7.21
17808,17808,Maouritsu Chuu-Boss Yousei Academia,15889,Manga,3,Sep 2017 - Mar 2019,696,https://myanimelist.net/manga/112973/Maouritsu...,https://cdn.myanimelist.net/r/100x140/images/m...,6.38
17809,17809,Arakure Ojousama wa Monmon Shiteiru,7569,Manga,?,Nov 2018 -,11257,https://myanimelist.net/manga/117227/Arakure_O...,https://cdn.myanimelist.net/r/100x140/images/m...,7.07
17810,17810,Tensei Ouji wa Daraketai,12899,Manga,3,Jan 2018 - Mar 2020,6203,https://myanimelist.net/manga/112534/Tensei_Ou...,https://cdn.myanimelist.net/r/100x140/images/m...,6.68

In [11]:
# Encuentra el valor máximo en la columna 'Members'
max_members = manga['Members'].max()

# Filtra el DataFrame para encontrar la fila correspondiente
result = manga[manga['Members'] == max_members]

# Obtén el título correspondiente
title = result['Title'].iloc[0] 
title

'Berserk'

In [14]:
# Encuentra el valor máximo en la columna 'Members'
max_animes = anime['Members'].max()
max_animes

# Filtra el DataFrame para encontrar la fila correspondiente
result = anime[anime['Members'] == max_animes]

# Obtén el título correspondiente
title = result['Title'].iloc[0] 
title

'Shingeki no Kyojin'

In [15]:
max_animes

np.int64(3759013)

In [ ]:
manga.head

<bound method NDFrame.head of        Unnamed: 0                                              Title   Rank  \
0               0                                        City Hunter    460
1               1                                      Keijo!!!!!!!!   4532
2               2                                               Rain   1808
3               3                                   Hidari no Futari  17377
4               4                                       Odd Girl Out    953
...           ...                                                ...    ...
17806       17806  Akuyaku Reijou desu ga Kouryaku Taishou no You...  10635
17807       17807                                             Hakuji   5720
17808       17808                Maouritsu Chuu-Boss Yousei Academia  15889
17809       17809                Arakure Ojousama wa Monmon Shiteiru   7569
17810       17810                           Tensei Ouji wa Daraketai  12899

           Type Volumes            Published  Members  \
0         Manga      35  Feb 1985 - Nov 1991    14690
1         Manga      18  Jul 2013 - Apr 2017    12689
2         Manga       ?           Nov 2008 -    12021
3      One-shot       ?          2011 - 2011     1010
4        Manhwa       ?           May 2015 -     4968
...         ...     ...                  ...      ...
17806     Manga       ?           Dec 2020 -     1142
17807     Manga       2  May 2008 - Apr 2010     6103
17808     Manga       3  Sep 2017 - Mar 2019      696
17809     Manga       ?           Nov 2018 -    11257
17810     Manga       3  Jan 2018 - Mar 2020     6203

                                                page_url  \
0          https://myanimelist.net/manga/792/City_Hunter
1              https://myanimelist.net/manga/56505/Keijo
2               https://myanimelist.net/manga/17237/Rain
3      https://myanimelist.net/manga/26610/Hidari_no_...
4      https://myanimelist.net/manga/119521/Odd_Girl_Out
...                                                  ...
17806  https://myanimelist.net/manga/132451/Akuyaku_R...
17807         https://myanimelist.net/manga/10141/Hakuji
17808  https://myanimelist.net/manga/112973/Maouritsu...
17809  https://myanimelist.net/manga/117227/Arakure_O...
17810  https://myanimelist.net/manga/112534/Tensei_Ou...

                                               image_url  Score
0      https://cdn.myanimelist.net/r/100x140/images/m...   8.16
1      https://cdn.myanimelist.net/r/100x140/images/m...   7.31
2      https://cdn.myanimelist.net/r/100x140/images/m...   7.67
3      https://cdn.myanimelist.net/r/100x140/images/m...   5.95
4      https://cdn.myanimelist.net/r/100x140/images/m...   7.90
...                                                  ...    ...
17806  https://cdn.myanimelist.net/r/100x140/images/m...   6.85
17807  https://cdn.myanimelist.net/r/100x140/images/m...   7.21
17808  https://cdn.myanimelist.net/r/100x140/images/m...   6.38
17809  https://cdn.myanimelist.net/r/100x140/images/m...   7.07
17810  https://cdn.myanimelist.net/r/100x140/images/m...   6.68

[17811 rows x 10 columns]>

# Anime