# Ejercicios de hechos en clase

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(
    {'nombres': ['juan','ronald','carla','nuria','jose','deni',None],
     'edades':[35,36,28,19,25,'no te lo digo',None] ,
     'dinero':[1000,5000,500,1000000,'anda a lavarte','casi un millon',None],
     'soy Nuria':[False,False,False,True,False,False,None],
      'id': [1,2,3,4,5,6,7] }
)

df

  nombres         edades          dinero soy Nuria  id
0    juan             35            1000     False   1
1  ronald             36            5000     False   2
2   carla             28             500     False   3
3   nuria             19         1000000      True   4
4    jose             25  anda a lavarte     False   5
5    deni  no te lo digo  casi un millon     False   6
6    None           None            None      None   7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombres    6 non-null      object
 1   edades     6 non-null      object
 2   dinero     6 non-null      object
 3   soy Nuria  6 non-null      object
 4   id         7 non-null      int64
dtypes: int64(1), object(4)
memory usage: 412.0+ bytes

In [5]:
df.describe()

             id
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [6]:
df.shape

(7, 5)

In [7]:
df.describe(include='obget')

TypeError: data type 'obget' not understood

------

## Codigo del titanic , explicaciones

### 2.3 Análisis de Cardinalidad
- Valores únicos por variable

In [ ]:
for col in df:
    print('lo que tenga el profe' )

- fecuencia de categorias

In [ ]:
# solo las categorias nominales o ordinales 

for col in ['Survived','Pclass','Sex','Embarked']:
    print(df[col].value_counts(normalize=True))
    print('------------')

In [ ]:
df['Age'].describe()

NameError: name 'df' is not defined

In [ ]:
df[df['Age']<1]

- vamos a colocar todos los niños menosres de 1 año a que tienen 1 año

In [ ]:
df['Age']=df['Age'].apply(lambda row: 1 if row<1 else row)

In [ ]:
# o tb

df['Age']=np.where(df['Age']<1,1,df['Age'])

In [ ]:
# o tb

df.loc[df['Age']<1, 'Age']=1

In [ ]:
df['Age'].describe()

In [ ]:
df['Age']=df['Age'].astype()

In [ ]:
df['Age']=df['Age'].apply(lambda row: int(str(row).split('.')[0]) if '.' in str(row) else row)

In [ ]:
df['Age'].astype('Int32') # ahora si podemos pasarlos a int ya que ya no tenemos los 4.5 son todos 4.0: no olvidad poner el I en mayusculas para que hacepten los NaN

In [9]:
df['Age'].unique()

KeyError: 'Age'

- Evaluación de granularidad 
    - granularidad fina es cuando analizamos una persona en particular y 
    - granularidad gruesa es cuando se hace una analisis de un grupo mas grande 
        - fina-> nuria sobrevivio ...
        - todos los niños y mujeres sobrevivieron ...