# SQL

## Instalación de PostgreSQL
Si aún no tienes PostgreSQL instalado, puedes instalarlo manualmente dependiendo de tu sistema operativo:

### En Ubuntu/Debian:

```bash
sudo apt-get update
sudo apt-get install postgresql postgresql-contrib
sudo service postgresql start
```

### En macOS usando Homebrew:

```bash
brew update
brew install postgresql
brew services start postgresql
```

### En Windows:
Puedes descargar el instalador de PostgreSQL desde la [página oficial](https://www.postgresql.org/download/windows/). Durante la instalación, asegúrate de incluir pgAdmin y otras herramientas útiles.

Una vez instalado, el servicio PostgreSQL debería iniciar automáticamente. Si no, puedes iniciarlo desde el "Services" o "Servicios".

## Configuración

### En Mac y Linux:

```bash
sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';"
```

### En Windows:
1. Incluir PostgreSQL en las variables de entorno
```text
    C:\Program Files\PostgreSQL\16\bin
```
2. Abre la "Terminal" como administrador.

3. Ejecuta psql:
```bash
    psql -U postgres
```
4. Dentro de psql, ejecuta el comando:
```SQL
    CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';
```

## Conexión a PostgreSQL usando SQLAlchemy

In [1]:
import os
import sqlite3

sqlite_output_file = "practica_sql.db"

if not os.path.exists(sqlite_output_file):
    conn = sqlite3.connect(sqlite_output_file)
    cursor = conn.cursor()    
    conn.commit()
    
    print(f"Base de datos SQLite guardada como: {sqlite_output_file}")
    
    conn.close()

In [2]:
import os
import pandas as pd
import polars as pl
from typing import Union
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import sqlite3

load_dotenv()

# Reemplaza USER y PASSWORD del .env
#engine = create_engine(f"postgresql+psycopg2://{os.getenv('USER')}:{os.getenv('PASSWORD')}@localhost:5432/postgres")
engine = create_engine("sqlite:///practica_sql.bd", echo=True)

# Probar la conexión
try:
    connection = engine.connect()
    print("Conexión exitosa")
    connection.close()
except Exception as e:
    print(f"Error al conectar: {e}")


def ejecutar_query(query: str, devolver_polars: bool = False) -> Union[pd.DataFrame, pl.DataFrame, str]:
    """
    Ejecuta una consulta SQL en la base de datos y devuelve un DataFrame.

    Parámetros:
    - query (str): La consulta SQL a ejecutar.
    - devolver_polars (bool): Si es True, devuelve un polars DataFrame, si no, devuelve un pandas DataFrame (por defecto).

    Retorna:
    - Union[pd.DataFrame, pl.DataFrame, str]: Retorna un DataFrame en pandas o polars dependiendo del parámetro 'devolver_polars',
      o un mensaje de éxito/error si la operación no es un SELECT.
    """
    
    with engine.connect() as connection:
        try:
            result = connection.execute(text(query))
            
            # Determinar si es una consulta SELECT para devolver datos
            if result.returns_rows:
                rows = result.fetchall()
                columns = result.keys()

                # Convertir filas en un diccionario de listas para crear correctamente el DataFrame en polars
                data_dict = {col: [row[idx] for row in rows] for idx, col in enumerate(columns)}

                # Verificación de coincidencia de columnas y filas
                if devolver_polars:
                    return pl.DataFrame(data_dict)
                else:
                    return pd.DataFrame(data_dict)
            else:
                connection.commit()
                return f"Query ejecutada correctamente: {result.rowcount} filas afectadas."
        except Exception as e:
            return f"Error al ejecutar la query: {e}"

Conexión exitosa

### Crear base de datos

In [3]:

#query_crear_schema =  "CREATE SCHEMA IF NOT EXISTS"
#ejecutar_query(query=query_crear_schema)

## DDL - Crear tablas

### Tabla Customers



```
CREATE TABLE IF NOT EXISTS bootcamp.Customers (
  customer_id INT NOT NULL,
  customer_name VARCHAR(50) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE,
  PRIMARY KEY (customer_id)
  );
```

In [4]:
query_crear_tabla1 = "CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));"
ejecutar_query(query= query_crear_tabla1)

2024-12-11 19:26:38,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,175 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));
2024-12-11 19:26:38,176 INFO sqlalchemy.engine.Engine [generated in 0.00074s] ()
2024-12-11 19:26:38,176 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Orders



```
CREATE TABLE IF NOT EXISTS bootcamp.Orders (
  order_id INT NOT NULL,
  customer_id INT NOT NULL,
  order_date DATE NOT NULL,
  order_price DECIMAL(8,2),
  PRIMARY KEY (order_id),
FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id)
  );
```

In [19]:
query_crear_tabla2 = "CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));"
ejecutar_query(query= query_crear_tabla2)

2024-12-11 19:29:54,835 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:29:54,836 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));
2024-12-11 19:29:54,836 INFO sqlalchemy.engine.Engine [cached since 196.6s ago] ()
2024-12-11 19:29:54,836 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Shipments

```
CREATE TABLE IF NOT EXISTS bootcamp.Shipments (
  shipment_id INT NOT NULL,
  order_id INT NOT NULL,
  shipment_date DATE NOT NULL,
  shipment_city VARCHAR(50),
  PRIMARY KEY (shipment_id),
  FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id)
  );

```

In [20]:
query_crear_tabla3 = "CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));"
ejecutar_query(query_crear_tabla3)

2024-12-11 19:30:22,299 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:30:22,300 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));
2024-12-11 19:30:22,300 INFO sqlalchemy.engine.Engine [cached since 224.1s ago] ()
2024-12-11 19:30:22,301 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Check que se hayan creado las tablas

In [7]:
query = "SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';"
ejecutar_query(query=query)

2024-12-11 19:26:38,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,215 INFO sqlalchemy.engine.Engine SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';
2024-12-11 19:26:38,217 INFO sqlalchemy.engine.Engine [generated in 0.00078s] ()
2024-12-11 19:26:38,217 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.OperationalError) no such table: information_schema.tables\n[SQL: SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)"

## DML - Insertar datos ficticios



```
INSERT INTO bootcamp.Customers 
VALUES 
(1, 'Juan', '1989-04-08', Null),
(2, 'Mario', '2005-05-05', Null),
(3, 'Laura', '2020-03-21', '2022-02-05')
;
```

In [8]:
query= "INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')"
ejecutar_query(query=query)

2024-12-11 19:26:38,224 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,224 INFO sqlalchemy.engine.Engine INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')
2024-12-11 19:26:38,224 INFO sqlalchemy.engine.Engine [generated in 0.00078s] ()
2024-12-11 19:26:38,225 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.IntegrityError) UNIQUE constraint failed: Customers.customer_id\n[SQL: INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')]\n(Background on this error at: https://sqlalche.me/e/20/gkpj)"



```
INSERT INTO bootcamp.Orders
VALUES
(1, 1, '2022-05-06', 45),
(2, 1, '2021-05-06', 60),
(3, 1, '2022-06-06', 70),
(4, 2, '2022-05-01', 5),
(5, 3, '2022-10-06', 145),
(6, 3, '2022-02-03', 2)
;
```

In [9]:
query = "INSERT INTO bootcamp.Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);"
ejecutar_query(query=query)

2024-12-11 19:26:38,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,231 INFO sqlalchemy.engine.Engine INSERT INTO bootcamp.Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);
2024-12-11 19:26:38,231 INFO sqlalchemy.engine.Engine [generated in 0.00085s] ()
2024-12-11 19:26:38,232 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.OperationalError) no such table: bootcamp.Orders\n[SQL: INSERT INTO bootcamp.Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)"


```
INSERT INTO bootcamp.Shipments 
VALUES 
(1, 1, '2022-06-06', 'Barcelona'), 
(2, 2, '2021-06-06', 'Madrid'), 
(3, 3, '2022-06-10', 'Barcelona'), 
(4, 4, '2022-02-05', 'Vigo'), 
(5, 5, '2022-06-15', 'Barcelona'), 
(6, 6, '2022-03-05', 'Madrid')
;
```

In [10]:
query= "INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');"
ejecutar_query(query=query)

2024-12-11 19:26:38,237 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,238 INFO sqlalchemy.engine.Engine INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');
2024-12-11 19:26:38,238 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ()
2024-12-11 19:26:38,238 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.IntegrityError) UNIQUE constraint failed: Shipments.shipment_id\n[SQL: INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');]\n(Background on this error at: https://sqlalche.me/e/20/gkpj)"

## DDL - Consulas SELECT

1. Retorna todos los registros de la tabla Customers.

In [11]:
query= "SELECT* FROM Customers"
ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:38,245 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,245 INFO sqlalchemy.engine.Engine SELECT* FROM Customers
2024-12-11 19:26:38,246 INFO sqlalchemy.engine.Engine [generated in 0.00071s] ()
2024-12-11 19:26:38,246 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 4)
┌─────────────┬───────────────┬──────────────┬────────────┐
│ customer_id ┆ customer_name ┆ fecha_inicio ┆ fecha_fin  │
│ ---         ┆ ---           ┆ ---          ┆ ---        │
│ i64         ┆ str           ┆ str          ┆ str        │
╞═════════════╪═══════════════╪══════════════╪════════════╡
│ 1           ┆ Juan          ┆ 1989-04-08   ┆ null       │
│ 2           ┆ Mario         ┆ 2005-05-05   ┆ null       │
│ 3           ┆ Laura         ┆ 2020-03-21   ┆ 2022-02-05 │
└─────────────┴───────────────┴──────────────┴────────────┘

2. Retorna la cantidad de envios por shipment_city

In [12]:
query ='SELECT * FROM Shipments'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:38,254 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,254 INFO sqlalchemy.engine.Engine SELECT * FROM Shipments
2024-12-11 19:26:38,254 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ()
2024-12-11 19:26:38,256 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (6, 4)
┌─────────────┬──────────┬───────────────┬───────────────┐
│ shipment_id ┆ order_id ┆ shipment_date ┆ shipment_city │
│ ---         ┆ ---      ┆ ---           ┆ ---           │
│ i64         ┆ i64      ┆ str           ┆ str           │
╞═════════════╪══════════╪═══════════════╪═══════════════╡
│ 1           ┆ 1        ┆ 2022-06-06    ┆ Barcelona     │
│ 2           ┆ 2        ┆ 2021-06-06    ┆ Madrid        │
│ 3           ┆ 3        ┆ 2022-06-10    ┆ Barcelona     │
│ 4           ┆ 4        ┆ 2022-02-05    ┆ Vigo          │
│ 5           ┆ 5        ┆ 2022-06-15    ┆ Barcelona     │
│ 6           ┆ 6        ┆ 2022-03-05    ┆ Madrid        │
└─────────────┴──────────┴───────────────┴───────────────┘

In [13]:
query ='SELECT shipment_city, COUNT(*) as conteo FROM Shipments GROUP BY shipment_city'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:38,265 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,265 INFO sqlalchemy.engine.Engine SELECT shipment_city, COUNT(*) as conteo FROM Shipments GROUP BY shipment_city
2024-12-11 19:26:38,266 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ()
2024-12-11 19:26:38,266 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 2)
┌───────────────┬────────┐
│ shipment_city ┆ conteo │
│ ---           ┆ ---    │
│ str           ┆ i64    │
╞═══════════════╪════════╡
│ Barcelona     ┆ 3      │
│ Madrid        ┆ 2      │
│ Vigo          ┆ 1      │
└───────────────┴────────┘

In [14]:
# tb lo podemos convertir en un Data Framer y trabajar con el df
query ='SELECT * FROM Shipments'

df= ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:38,273 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,273 INFO sqlalchemy.engine.Engine SELECT * FROM Shipments
2024-12-11 19:26:38,274 INFO sqlalchemy.engine.Engine [cached since 0.01966s ago] ()
2024-12-11 19:26:38,274 INFO sqlalchemy.engine.Engine ROLLBACK

In [15]:
df

shape: (6, 4)
┌─────────────┬──────────┬───────────────┬───────────────┐
│ shipment_id ┆ order_id ┆ shipment_date ┆ shipment_city │
│ ---         ┆ ---      ┆ ---           ┆ ---           │
│ i64         ┆ i64      ┆ str           ┆ str           │
╞═════════════╪══════════╪═══════════════╪═══════════════╡
│ 1           ┆ 1        ┆ 2022-06-06    ┆ Barcelona     │
│ 2           ┆ 2        ┆ 2021-06-06    ┆ Madrid        │
│ 3           ┆ 3        ┆ 2022-06-10    ┆ Barcelona     │
│ 4           ┆ 4        ┆ 2022-02-05    ┆ Vigo          │
│ 5           ┆ 5        ┆ 2022-06-15    ┆ Barcelona     │
│ 6           ┆ 6        ┆ 2022-03-05    ┆ Madrid        │
└─────────────┴──────────┴───────────────┴───────────────┘

3. Retorna la cantidad de envios a Barcelona

In [16]:
# primera sugerencia, COMO SABEMOS QUE ES EL PRIMERO LO LIMITAMOS A 1 

query = "SELECT shipment_city, COUNT(*) as conteo FROM Shipments GROUP BY shipment_city LIMIT 1"

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:38,289 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,290 INFO sqlalchemy.engine.Engine SELECT shipment_city, COUNT(*) as conteo FROM Shipments GROUP BY shipment_city LIMIT 1
2024-12-11 19:26:38,290 INFO sqlalchemy.engine.Engine [generated in 0.00186s] ()
2024-12-11 19:26:38,291 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (1, 2)
┌───────────────┬────────┐
│ shipment_city ┆ conteo │
│ ---           ┆ ---    │
│ str           ┆ i64    │
╞═══════════════╪════════╡
│ Barcelona     ┆ 3      │
└───────────────┴────────┘

In [17]:
# segunda opcion, la correcta, generica 
query = "SELECT shipment_city, COUNT(*) as conteo FROM Shipments WHERE shipment_city ='Barcelona' GROUP BY shipment_city"

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:26:38,300 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:26:38,300 INFO sqlalchemy.engine.Engine SELECT shipment_city, COUNT(*) as conteo FROM Shipments WHERE shipment_city ='Barcelona' GROUP BY shipment_city
2024-12-11 19:26:38,300 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ()
2024-12-11 19:26:38,301 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (1, 2)
┌───────────────┬────────┐
│ shipment_city ┆ conteo │
│ ---           ┆ ---    │
│ str           ┆ i64    │
╞═══════════════╪════════╡
│ Barcelona     ┆ 3      │
└───────────────┴────────┘

4. Retorna todas las ordenes mayores a €50

In [25]:
query= 'SELECT * FROM Orders WHERE order_price >50'

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:39:21,563 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:39:21,563 INFO sqlalchemy.engine.Engine SELECT * FROM Orders WHERE order_price >50
2024-12-11 19:39:21,563 INFO sqlalchemy.engine.Engine [cached since 527.3s ago] ()
2024-12-11 19:39:21,564 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (0, 4)
┌──────────┬─────────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ order_date ┆ order_price │
│ ---      ┆ ---         ┆ ---        ┆ ---         │
│ null     ┆ null        ┆ null       ┆ null        │
╞══════════╪═════════════╪════════════╪═════════════╡
└──────────┴─────────────┴────────────┴─────────────┘

5. Retorna el cliente que más dinero gasto

In [ ]:
query= 'SELECT customer_id, order_price FROM Orders GROUP BY customer_id ORDER BY total DESC LIMIT 1 '

ejecutar_query(query=query)

2024-12-11 19:34:19,025 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:34:19,025 INFO sqlalchemy.engine.Engine SELECT customer_id, order_price FROM Orders GROUP BY customer_id
2024-12-11 19:34:19,026 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ()
2024-12-11 19:34:19,027 INFO sqlalchemy.engine.Engine ROLLBACK

Empty DataFrame
Columns: [customer_id, order_price]
Index: []

6. Y que si queremos ver el nombre del cliente? Dato que se encuentra en otra tabla.

In [ ]:
query= """SELECT customer_id, order_price 
            FROM Orders 
            GROUP BY customer_id 
            ORDER BY total 
            DESC LIMIT 1"""

ejecutar_query(query=query)

In [ ]:
query= """SELECT  Custumers.customer_name AS Nombre ,
            FROM Customers 
            JOIN Orders ON Customers.customer_id= Orders.customer_id 
            WHERE Customers.customer_id=1
            LIMIT 1"""
            

ejecutar_query(query=query)

2024-12-11 19:49:00,623 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:49:00,624 INFO sqlalchemy.engine.Engine SELECT  Custumers.customer_name AS Nombre FROM Customers JOIN Orders ON Customers.customer_id= Orders.customer_id WHERE Customers.customer_id=1
2024-12-11 19:49:00,625 INFO sqlalchemy.engine.Engine [generated in 0.00109s] ()
2024-12-11 19:49:00,625 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) no such column: Custumers.customer_name\n[SQL: SELECT  Custumers.customer_name AS Nombre FROM Customers JOIN Orders ON Customers.customer_id= Orders.customer_id WHERE Customers.customer_id=1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

7. Retornar la duración promedio de los clientes que se dieron de baja.

In [ ]:
query= """ SELECT CAST(AVG(fecha_fin-fecha_inicio) AS INT) AS "PROMEDIO DE DIAS"
            FROM Customers 
            WHERE fecha_fin IS NOT NULL
            """

ejecutar_query(query=query)

2024-12-11 18:46:42,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 18:46:42,281 INFO sqlalchemy.engine.Engine
2024-12-11 18:46:42,283 INFO sqlalchemy.engine.Engine [cached since 0.08092s ago] ()
2024-12-11 18:46:42,283 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

8. Retornar los clientes que tienen una 'a' en el nombre.

In [ ]:
query= """"SELECT Customer_name 
            FROM Customers 
            WHERE customer_name LIKE '%a%'
            """

ejecutar_query(query=query)

2024-12-11 20:11:57,893 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:11:57,894 INFO sqlalchemy.engine.Engine "SELECT Customer_name
            FROM Customers
            WHERE customer_name LIKE '%a%'

2024-12-11 20:11:57,894 INFO sqlalchemy.engine.Engine [generated in 0.00095s] ()
2024-12-11 20:11:57,894 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) unrecognized token: ""SELECT Customer_name \n            FROM Customers \n            WHERE customer_name LIKE \'%a%\'\n            "\n[SQL: "SELECT Customer_name \n            FROM Customers \n            WHERE customer_name LIKE \'%a%\'\n            ]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'